.myDiv{
    padding-top: 7px;
    background-color: rgb(60, 165, 38);
    border-radius: 25px;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: pro;
    animation-duration: 1s; 
    /* transform: translateY(-0.625rem);
    transition-duration: 1s;
    transition-delay: 0.4s;
    transition-property: transform; */
}
@keyframes pro{
    0%{
        position: relative;
        opacity: 0;
        left: calc(15%);
    }
    100%{
        position: relative;
        opacity: 1;
        left: 0%;
    }
}
@media(max-width: 500px){
    .myDiv{
        width: 300px;
    }
}
.buttonsDiv{
    display: flex;
}
.bu{
    width: 100px;
    height: 50px;
   background-color:rgb(180, 21, 21);
   border: none;
   margin-left: 25px;
   margin-right: 25px;
   color: aliceblue;
   border-radius: 5px;
   /* margin-bottom: 8px; */
}
.bu:hover{
    background-color: rgb(186, 10, 71);
    text-decoration: underline;
    border: orangered solid 2px;
}

h3,h2{
    display: block;
    color: rgb(215, 223, 230);
}